:root {
    --primary-color: #EF3B3B;
    --black-color: #1F2024;
    --grey-text: #5F6265;
    --grey-divider: #EDEDED;
    --white-color: #ffffff;
    --button-hover: #BC2B2B;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}