.car-gallery {
  .container {
    padding-top: 0;
  }
}
.car-gallery_list {
  @include break-point {
    @include flex(space-between, center);
    flex-wrap: wrap;
  }
  .list-item:not(:last-child) {
    @media screen and (max-width: 971.9px) {
      margin-bottom: 32px;
    }
  }
  .list-item:nth-child(n + 3) {
    @include break-point {
      margin-top: 32px;
    }
  }

  .car-name {
    @include font(20px, 700, 1.2);
    margin-bottom: 4px;
  }
  .car-model {
    @include font(14px, 400, 1.29);
    color: var(--grey-text);
    margin-bottom: 8px;
  }
  .car-image {
    border-radius: 16px;
  }
}
